*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: 'myriad',Arial, Helvetica, sans-serif !important;
  
}

@font-face {
  font-family: 'myriad';
  src: url('../fonts/myriad-pro/MyriadPro-Light.otf') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
@font-face {
  font-family: 'myriad-titulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
@font-face {
  font-family: 'myriad-italic-subtitulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
.navbar-brand h2{
  color: #333333;
  font-weight: 700;
}
h5 {
  font-family: 'myriad-italic-titulo',Arial, Helvetica, sans-serif !important;
}

.navbar-dark .navbar-nav .nav-link{
  color: #333333 !important;
  font-weight: 700;
}

header li a{
  color: #000000!important;
}
.dropdown-menu{
  background-color: #081663!important;
}
.dropdown-menu li a{
  color: white!important;
}
.nav-item a{
  color: #c9d3d9!important;
}
.dropdown-item{
  background-color: transparent!important;
}

html, body{
  height: 100%;
}

.card{
  border: none!important;
}

.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#checkbox-menu{
  position: absolute;
  opacity: 0;
}

label{
  cursor: pointer;
  position: relative;
  display: block;
  height: 22px;
  width: 30px;
}

label span{
  position: absolute;
  display: block;
  height: 5px;
  width: 100%;
  border-radius: 30px;
  background: #000000;
  transition: 0.25s ease-in-out;
}

label span:nth-child(1){
  top: 0;
}

label span:nth-child(2){
  top: 8px;
}

label span:nth-child(3){
  top: 16px;
}

#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 8px;
}

#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:8px;
}

.conteudo{   /*codigo para espaçamento de cada bloco do site*/
  max-width: 1140px;
   margin: 0 auto;
   padding: 10px 20px;
}
.conteudo-header{
  max-width: 1140px;
  margin: 0 auto;
}
.dropdown-menu li:hover{
  background-color: #e3dddd9d!important;
  transition: 0.2s;
}
.dropdown-menu a:hover{
  color: black!important;
}

.dropdown-menu{
  padding: 0 !important;
}


.menu li a:hover{
transform: scale(1.2);
transition: 0.2s;
}

.menu li a{
  transition: 0.2s;
}

.footer-três{
color: #fff;
background-color: #1c2148;
text-align: center;
border-top: 12px solid #1c2148; /* Ajuste a cor e a espessura conforme necessário */
}


/* --Layout do Site-- */
#layout-footer {
display: inline-block;
}

.color_back1 {
background-color: #262c58!important;
color:  white;
}

.color_back1 ul {
list-style: none;
padding: 0;
margin-bottom: 0;
}

.color_back1 a {
text-decoration: none;
color: white !important;
}

#logo_control {
height: 80px;
padding-left: 0;
}

#qr_code_control {
max-width: 150px;
height: auto;
}


#list_pad li {
padding-bottom: 10px;
}

.img_control {
height: 20px;
padding-right: 10px;
}

/* CSS Gustavo */

.menu-right i{
color: #c9d3d9;
}

.linha{
  background-color: #303875;
  height: 146%;
  width: 1px;
  margin: 0 10px;
  position: relative;
  top: -10px;
}

.navbar-nav .margin-i{
  margin-right: 10px;
}

footer-style
.icons-footer i{
  margin-right: 10px !important; 
}

.redes-sociais i{
  font-size: 22px;
  margin-right: 15px !important;
  font-weight: 900;
}

.footer-style h3{
  font-weight: 700 !important;
  color: #95abb7;
  font-size: 22px;
}

.linha-2{
  background-color: red;
  width: 1px;
  height: 10px;
}

.card {
  border: none !important;
}

.card {
background-color: #fff;
border-radius: 10px;
overflow: hidden;
transition: transform 0.3s ease-in-out;
}
.card:hover {
transform: translateY(-10px);
}
.card img {
width: 100%;
height: 150px;
object-fit: cover;
border-radius: 10px;
}
.card-body {
padding: 15px;
}
.card-title {
font-size: 1.2em;
margin: 0 0 10px;
color: #f6ad39;
font-weight: 900;
}
.card-text {
font-size: 0.9em;
color: #666;
}
.button {
display: inline-block;
padding: 10px 15px;
margin-top: 10px;
color: #2b00a5;
text-decoration: none;
border-radius: 5px;
transition: background-color 0.3s ease;
margin-left: 60px;
}
.col-md-3 {
margin-bottom: 30px;
}

.hrBorda{
  background-color: #485e88;
  height: 3px;
  width: 60px;
  margin: 0 auto;
}
/* Ajustes para o footer */
.footer-style {
  flex-wrap: wrap;
}

.footer-style div {
  margin-bottom: 20px;
}

/* Tamanho dos ícones */
.icons-footer i {
  font-size: 18px;
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  .footer-style {
    flex-direction: column;
    text-align: center;
  }

  .footer-style div {
    margin-bottom: 20px;
  }

  .footer-style ul {
    padding-left: 0;
  }

  .footer-style h3, .footer-style h4 {
    font-size: 1.25rem;
  }

  .icons-footer {
    justify-content: center;
  }

  .redes-sociais a {
    font-size: 20px;
    margin: 0 10px;
  }

  .footer-três h6 {
    font-size: 0.875rem;
  }

  #logo_control {
    max-width: 150px;
    margin-bottom: 20px;
  }

  #qr_code_control {
    max-width: 150px;
  }
}


/* Footer responsivo */

.footer-style div {
  margin-bottom: 20px !important;
}

/* Menu responsivo */

@media(max-width: 576px){
  .ms-auto{
    margin-left: 0 !important;
  }
}