*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }

  body {
    font-family: 'myriad',Arial, Helvetica, sans-serif !important;
    
  }

  @font-face {
    font-family: 'myriad';
    src: url('../fonts/myriad-pro/MyriadPro-Light.otf') format('opentype'); /* Para .ttf */
    /* ou use .woff, .woff2 se for o caso */
  }
  @font-face {
    font-family: 'myriad-italic-titulo';
    src: url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF') format('opentype'); /* Para .ttf */
    /* ou use .woff, .woff2 se for o caso */
  }
  h5 {
    font-family: 'myriad-italic-titulo',Arial, Helvetica, sans-serif !important;
  }


  
  .menu{
    background-color: #081663!important;
  }
  header li a{
    color: #000000!important;
  }
  .dropdown-menu{
    background-color: #081663!important;
  }
  .dropdown-menu li a{
    color: white!important;
  }
  .nav-item a{
    color: white!important;
  }
  .dropdown-item{
    background-color: transparent!important;
  }
  
html, body{
    height: 100%;
  }

  .card{
    border: none!important;
  }
  
  .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #000000;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1){
    top: 0;
  }
  
  label span:nth-child(2){
    top: 8px;
  }
  
  label span:nth-child(3){
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }

  .conteudo{   /*codigo para espaçamento de cada bloco do site*/
    max-width: 1140px;
     margin: 0 auto;
     padding: 10px 20px;
  }
  .conteudo-header{
    max-width: 1140px;
    margin: 0 auto;
  }
  .dropdown-menu li:hover{
    background-color: #e3dddd9d!important;
    transition: 0.2s;
  }
  .dropdown-menu a:hover{
    color: black!important;
  }

  .dropdown-menu{
    padding: 0 !important;
  }




  
  /*carrosel baixo*/
  .custom-carousel {
    width: 100%; /* Largura total da tela */
    
}
.custom-carousel img {
    object-fit: cover; /* Para garantir que a imagem cubra todo o espaço */
    height: 100%; /* A imagem deve ter a mesma altura do carrossel */
    width: 100%; /* A imagem deve ter a mesma largura do carrossel */
}

.carousel-item {
  overflow: hidden;
  position: relative;
}
.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  transform: translateX(-100%);
  transition: transform 1s ease;
}
.carousel-item.active::before {
  transform: translateX(0);
}
.carousel-item img {
  position: relative;
  z-index: 1;
  transition: transform 1s ease-in-out;
}
.carousel-item-next, .carousel-item-prev {
  transform: scale(1.2);
}
.carousel-item.active img {
  transform: scale(1);
}

























.footer-três{
  color: #fff;
  background-color: black;
  text-align: center;
  border-top: 12px solid #000; /* Ajuste a cor e a espessura conforme necessário */
}


/* --Layout do Site-- */
#layout-footer {
  display: inline-block;
}

.color_back1 {
  background-color: #081663!important;
  color:  white;
}

.color_back1 ul {
  list-style: none;
  padding: 0;
}

.color_back1 a {
  text-decoration: none;
  color: white !important;
}

#logo_control {
  height: 80px;
  padding-left: 0;
}

#qr_code_control {
  max-width: 150px;
  height: auto;
}


#list_pad li {
  padding-bottom: 10px;
}

.img_control {
  height: 20px;
  padding-right: 10px;
}


