.carousel-thumbnails img {
  cursor: pointer;
  width: 150px;
  height: 100px;
  margin: 5px;
  border: 2px solid transparent;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-thumbnails img.active-thumbnail {
  border-color: #007bff;
}
.carousel-item img {
  border-radius: 10px;
}

.texto-nosso {
  font-family: 'myrial';
  max-width: 500px;
  margin-left: 300px;
  text-align: center;
}
.titulo-espacos {
  font-family: 'myriad-italic-titulo';
  margin-left: 430px;
}