/* citando css gerais */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  font-family: 'myriad', Arial, Helvetica, sans-serif !important;
}
.conteudo{   /*codigo para espaçamento de cada bloco do site*/
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px;
}
.container{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* fim dos css gerais */

/* -------------------------- */

/* fontes adicionadas */
@font-face {
  font-family: 'myriad';
  src: url('../fonts/myriad-pro/MyriadPro-Light.otf') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
@font-face {
  font-family: 'myriad-titulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-BOLD.OTF') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
@font-face {
  font-family: 'myriad-italic-subtitulo';
  src: url('../fonts/myriad-pro/MYRIADPRO-SEMIBOLDIT.OTF') format('opentype'); /* Para .ttf */
  /* ou use .woff, .woff2 se for o caso */
}
/* fim das fontes */

/* -------------------------- */

/* menu-inicial */

.nav-titulo{
  font-family: 'myriad-titulo';
}
.dropdown-menu{
  background-color: #081663!important;
}
.dropdown-menu li a{
  color: white!important;

}
#checkbox-menu{
  position: absolute;
  opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(1){
  transform: rotate(-45deg);
  top: 8px;
}
#checkbox-menu:checked + label span:nth-child(2){
  opacity: 0;
}
#checkbox-menu:checked + label span:nth-child(3){
  transform: rotate(45deg);
  top:8px;
}
.dropdown-menu li:hover{
  background-color: #e3dddd9d!important;
  transition: 0.2s;
}
.dropdown-menu a:hover{
  color: black!important;
}
.dropdown-menu{
  padding: 0 !important;
}
.menu li a:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.menu li a{
  transition: 0.2s;
}
.menu-right i{
  color: #c9d3d9;
}
.navbar-brand h2{
  color: #333333;
  font-weight: 700;
}
h5 {
  font-family: 'myriad-titulo',Arial, Helvetica, sans-serif !important;
}
.navbar-dark .navbar-nav .nav-link{
  color: #333333 !important;
  font-weight: 700;
}
header li a{
  color: #000000!important;
}
.nav-item a{
  color: #c9d3d9!important;
}
.dropdown-item{
  background-color: transparent!important;
}
.button {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  color: #2b00a5;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 60px;
  }
.col-md-3 {
  margin-bottom: 30px;
}
.navbar-nav .margin-i{
  margin-right: 10px;
}
.conteudo-header{
  max-width: 1140px;
  margin: 0 auto;
}

.linha{
  background-color: #303875;
  height: 146%;
  width: 1px;
  margin: 0 10px;
  position: relative;
  top: -10px;
}

/* fim do menu */

/* -------------------------- */

/* breadcrump */

.breadcrump{
  background: url(../Eventos/imgs/Breadcrump.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 150px;
}
.breadcrump h1 {
  margin-left: 60px;
  color: aliceblue;
  margin-top: 0px;
  font-family: 'myriad-titulo';
}
.breadcrump p {
  margin-left: 60px;
  margin-bottom: 5px;
  margin-top: 30px;
  color: aliceblue;
}
.breadcrump p a {
  text-decoration: none;
  color: white;
  font-family: 'myriad';
}

/* fim do breadcrump */

/* -------------------------- */

.filter-buttons {
  text-align: center;
  margin-bottom: 20px;
}

.filter-buttons button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #006699;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.filter-buttons button:hover {
  background-color: #004466;
  transform: scale(1.05);
}

.filter-buttons button.active {
  background-color: #004466;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: block;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img,
.gallery-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
  border-radius: 10px;
  cursor: pointer;
}

.gallery-info {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.1);
}

.gallery-item:hover .gallery-info {
  transform: translateY(0);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #006699;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
margin: 0 auto; /* Remove margens superiores e inferiores */
width: 80%;
max-width: 800px;
background: none; /* Remove fundo branco, se houver */
margin-top: 80px;
border: none;
}

.modal-content img{
max-width: 100%; 
max-height: 70vh; 
object-fit: contain; /* Mantém as proporções da imagem */
display: block; /* Remove espaço extra ao redor da imagem */
border: none; 
margin: 0 auto;
}
.modal-content video {
width: 90%; /* Define a largura como 90% do modal */
max-height: 70vh;
min-width: 600px; 
object-fit: contain;
display: block;
margin: 0 auto;
border: none;
}


.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
  .gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .gallery-item {
      height: 200px;
  }
}
/* começo do banner */

.container-3 {
  background-color: #14c3e3;
  max-width: 1500px !important;
  position: relative;
  margin-top: 100px; 
  display: flex !important;
}
.menina-do-novotec{
  float: inline-end;
  height: 236px;
  position: relative;
  top: -46px;
  width: 400px;
  right: 150px;
}
.textinho-banner{
  color: #0f2c52;
  font-family: 'myriad-titulo';
}
.butaosinho {
  position: relative;
  border-radius: 10px;
  background-color: #fdd80d;
  border: 0px;
  margin-bottom: 10px;
  height: 35px;
  width: 150px;

}
.butaosinho p {
  color: #0f2c52;
  padding-top: 6px;
  font-family: 'myriad-titulo';
}

/* fim do banner */

/* -------------------------- */

/* footer */

.footer-três{
  color: #fff;
  background-color: #1c2148;
  text-align: center;
  border-top: 12px solid #1c2148; /* Ajuste a cor e a espessura conforme necessário */
}
.color_back1 {
  background-color: #262c58!important;
  color:  white;
}
.color_back1 ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.color_back1 a {
  text-decoration: none;
  color: white !important;
}
#logo_control {
  height: 80px;
  padding-left: 0;
}
#qr_code_control {
  max-width: 150px;
  height: auto;
}
.icons-footer i{
  margin-right: 10px !important; 
}
.redes-sociais i{
  font-size: 22px;
  margin-right: 15px !important;
  font-weight: 900;
}
.footer-style h3{
  font-weight: 700 !important;
  color: #95abb7;
  font-size: 22px;
  font-family: 'myriad-italic-subtitulo';
}
.titulo-2 h4{
  font-family: 'myriad-titulo';
}

/* fim do footer */
/* Ajustes para o footer */
.footer-style {
  flex-wrap: wrap;
}

.footer-style div {
  margin-bottom: 20px;
}

/* Tamanho dos ícones */
.icons-footer i {
  font-size: 18px;
}

/* Media queries para telas pequenas */
@media (max-width: 768px) {
  .footer-style {
    flex-direction: column;
    text-align: center;
  }

  .footer-style div {
    margin-bottom: 20px;
  }

  .footer-style ul {
    padding-left: 0;
  }

  .footer-style h3, .footer-style h4 {
    font-size: 1.25rem;
  }

  .icons-footer {
    justify-content: center;
  }

  .redes-sociais a {
    font-size: 20px;
    margin: 0 10px;
  }

  .footer-três h6 {
    font-size: 0.875rem;
  }

  #logo_control {
    max-width: 150px;
    margin-bottom: 20px;
  }

  #qr_code_control {
    max-width: 150px;
  }
}
