* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'myriad';
    src: url('../fonts/myriad-pro/MyriadPro-Light.otf') format('opentype'); /* Para .ttf */
    /* ou use .woff, .woff2 se for o caso */
}
    
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fff;
    font-family: 'myriad';              
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
}
.card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: translateY(-10px);
}
.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.2em;
    margin: 0 0 10px;
    color: #f6ad39;
}
.card-text {
    font-size: 0.9em;
    color: #666;
}
.button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    color: #2b00a5;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 60px;
}